<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cassioyoshi.android.com.popmoviesstage2">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="cassioyoshi.android.com.popmoviesstage2.MOVIES_READ"></uses-permission>
    <uses-permission android:name="cassioyoshi.android.com.popmoviesstage2.provider"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="cassioyoshi.android.com.popmoviesstage2.PopMoviesMainActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name="cassioyoshi.android.com.popmoviesstage2.PopMoviesDetails" android:parentActivityName="cassioyoshi.android.com.popmoviesstage2.PopMoviesMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.MovieProvider"
            android:authorities="cassioyoshi.android.com.popmoviesstage2"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>
    </application>

</manifest>